.about {
  min-height: 506px;
  border-bottom: 1px solid $textColor;
  display: flex;
  @include tablet {
    display: block;
  }

  &__title {
    font-weight: 300;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 2px;
    margin: 0 0 50px 50px;
    @include mobile {
      margin: 20px 0 40px 20px;
    }
  }

  &__advantage {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 2px;
    list-style-type: none;
  }

  &__advantage:before {
    content: "+";
    margin-right: 4px;
  }

  &__characteristics {
    margin: 0;
    padding: 0;
    display: flex;
    @include mobile {
      flex-direction: column-reverse;
      min-width: auto;
    }
  }
  

  &__advantages {
    border-right: 1px solid #e1fd2c;
    padding: 40px 194px 0 0;
    margin: 0;
    @include tablet {
      padding: 40px 0 0 0;
      min-width: 384px;

    }
    @include mobile {
      min-width: auto;
      padding: 0;
      min-width: auto;
      border-right: none;
    }
  }
  &__disadvantages {
    padding: 40px 0 0 0;
    margin: 0;
    @include tablet {
      padding: 40px 0 0 0;
      min-width: 384px;
    }
    @include mobile {
      padding: 0;
      border-bottom: 1px solid #e1fd2c;
      min-width: auto;
    }
  }

  &__disadvantage {
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 2px;
    list-style-type: none;
  }

  &__disadvantage:before {
    content: "-";
    margin-right: 4px;
  }

  &__text {
    max-width: 719px;
    margin: 0;
    padding: 45px 50px 40px 50px;
    border-right: 1px solid #e1fd2c;
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    box-sizing: border-box;

    @include tablet {
      border-right: none;
      margin: 0;
      padding: 45px 50px 40px 50px;
      border-bottom: 1px solid #e1fd2c;
      min-width: auto;
    }
    @include mobile {
      font-size: 16px;
      line-height: 27px;
      padding: 20px;
    }
  }

  &__text-bold 
  {
    font-weight: 500;
  }
}
