.footer {
  display: flex;
  min-height: 316px;
  justify-content: space-between;
  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin: 50px 0 16px 0;
  }
  &__input-border {
    border-right: 1px solid $textColor;
  }
  &__signature-box {
    padding-left: 50px;
  }

  &__signature {
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
  }

  &__input-name-box {
    border: 1px solid $textColor;
    width: 338px;
    height: 32px;
    display: flex;
  }

  &__input-mail-box {
    border: 1px solid $textColor;
    border-top: none;
    width: 338px;
    height: 32px;
    display: flex;
    margin: 0 0 50px 0;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-left: 1px solid $textColor;
    min-width: 719px;
  }
  &__logo {
    width: 184px;
    height: 38px;
    margin: 50px 50px 0 0;
  }
  &__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin: 0 50px 50px 0;
  }
  &__name-input {
    margin: 0;
    background-color: $primaryColor;
    border: none;
    max-width: 177px;
    height: 90%;
  }
  &__mail {
    margin: 0;
    background-color: $primaryColor;
    border: none;
    width: 560px;
    height: auto;
  }
  &__button-subscribe {
    margin: 0;
    background-color: $textColor;
    color: $primaryColor;
    border: 2px solid $textColor;
    width: 80px;
    height: 100%;
  }
}
