.footer {
  display: flex;
  min-height: 316px;
  justify-content: space-between;
  @include tablet {
    min-height: none;
  }
  @include mobile {
    display: block;
  }
  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin: 50px 0 16px 0;
    @include mobile {
      font-size: 26px;
      line-height: 26px;
      margin: 20px 0 14px 0;
    }
  }
  &__input-border {
    border-right: 1px solid $textColor;
  }
  &__signature-box {
    padding-left: 50px;
    @include mobile {
      padding-left: 20px;
    }
  }

  &__signature {
    font-weight: 400;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 64px;
    @include mobile {
      font-size: 14px;
      margin-bottom: 60px;
    }
  }

  &__input-name-box {
    border: 1px solid $textColor;
    width: 338px;
    height: 32px;
    display: flex;
    justify-content: space-around;
    @include mobile {
      width: 280px;
    }
  }

  &__input-mail-box {
    border: 1px solid $textColor;
    border-top: none;
    width: 338px;
    height: 32px;
    display: flex;
    margin: 0 0 50px 0;
    @include mobile {
      width: 280px;
    }
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    border-left: 1px solid $textColor;
    min-width: 719px;
    @include tablet {
      min-width: auto;
      border-left: none;
    }
    @include mobile {
      align-items: center;
    }
  }
  &__logo {
    width: 184px;
    height: 38px;
    margin: 50px 50px 0 0;
    @include mobile {
      width: 280px;
      height: 58px;
      margin: 120px 0 0 0;
    }
  }
  &__copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    margin: 0 50px 50px 0;
    @include mobile {
      width: 280px;
      height: 58px;
      margin: 20px 0 0 20px;
    }
  }
  &__name-input {
    all: unset;
    margin: 0;
    background-color: $primaryColor;
    border: none;
    height: 90%;
    width: 80%;
    font-weight: 400;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $textColor;
  }
  
  &__name-input::placeholder {
    color: $textColor;
    padding-left: 11px;
  }

  &__name-input:first-child {
    border-right: 1px solid $textColor;
  }
  &__mail {
    margin: 0;
    background-color: $primaryColor;
    border: none;
    width: 560px;
    height: auto;
    font-weight: 400;
    font-size: 9px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $textColor;
  }
  &__mail::placeholder {
    color: $textColor;
    padding-left: 11px;
  }
  &__button-subscribe {
    margin: 0;
    background-color: $textColor;
    color: $primaryColor;
    border: 2px solid $textColor;
    width: 80px;
    height: 100%;
  }
  &__button-subscribe:hover {
    cursor: pointer;
  }
}
