.gallary {
  min-height: 687px;
  border-bottom: 1px solid $textColor;
  &__box {
    display: flex;
    border-right: 1px solid #e1fd2c;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 720px;
    min-height: 687px;
  }
  &__button {
    width: 42px;
    height: 34px;
    background-color: transparent;
    border: none;
    margin: 0 30px 0px 250px;
  }
  &__button:last-child {
    margin-left: 0;
  }
  &__button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  &__components {
    display: flex;
    margin-top: 590px;
  }
  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin: 0 0 0 50px;
  }
  &__image {
    transition: visibility 0s, opacity 0.6s;
    visibility: hidden;
    position: absolute;
    max-width: 719px;
    &_visible {
      visibility: visible;
      opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
      transition: 1s; /*Скорость перехода состояния элемента*/
      animation: show 3s 1; /* Указываем название анимации, её время и количество повторов*/
      animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    }
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
