.gallary {
  min-height: 687px;
  border-bottom: 1px solid $textColor;
  @include tablet {
    min-height: auto;
  }
  @include mobile {
   height: 319px;
  }
  &__box {
    display: flex;
    border-right: 1px solid #e1fd2c;
    box-sizing: border-box;
    flex-direction: column;
    max-width: 720px;
    min-height: 687px;
    align-items: center;
    @include tablet {
      max-width: none;
      border-right: none;
      min-height: auto;
    }
    @include mobile {
      max-width: none;
      border-right: none;
      min-height: auto;
    }
  }
  &__button {
    width: 42px;
    height: 34px;
    background-color: transparent;
    border: none;
    margin: 0 30px 0px 250px;
    @include mobile {
      margin: 0 0px 0px 50px;
    }
  }

  &__button:last-child {
    margin: 0 15px 0 0;
  }
  &__button:hover {
    cursor: pointer;
    opacity: 0.6;
  }
  &__components {
    display: flex;
    margin-top: 590px;
    justify-content: space-between;
    @include mobile {
      margin-top: 250px;
      justify-content: none;
      line-height: 26px;
    }
  }
  &__button-image {
    @include mobile {
    width: 23px;
    height: 23px;
    }
  }
  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin: 0 0 0 50px;
    @include tablet {
      margin-bottom: 50px;
    }
    @include mobile {
      font-size: 26px;
      line-height: 26px;
      margin: 0 0 0 0;
    }
  }
  &__image {
    transition: visibility 0s, opacity 0.6s;
    visibility: hidden;
    position: absolute;
    max-width: 719px;
    @include tablet {
      max-width: 700px;
      max-height: 510px;
      margin: 35px 0 50px 0;
    }
    @include mobile {
      max-width: 280px;
      max-height: 204px;
      margin: 20px 0 0 0;
    }
    &_visible {
      visibility: visible;
      opacity: 0;
      transition: 1s;
      animation: show 3s 1;
      animation-fill-mode: forwards;
    }
    @keyframes show {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
