.press {
  height: 499px;
  border-bottom: 1px solid $textColor;
  display: flex;
  justify-content: space-between;
  @include tablet {
    display: block;
    height: auto;
    min-width: auto;
  }

  &__title {
    font-weight: 400;
    font-size: 46px;
    line-height: 46px;
    margin: 50px 0 0 50px;
    @include tablet {
      display: none;
    }
  }
  &__link-box {
    border-left: 1px solid $textColor;
    min-width: 719px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      height: 499px;
      border-left: none;
      min-width: auto;
    }
  }
  &__link {
    font-weight: 300;
    font-size: 30px;
    line-height: 42px;
    max-width: 619px;
    margin: 50px 0 0 50px;
    text-decoration: none;
    color: $textColor;
    pointer-events: none;

    &_animation {
      opacity: 1;
      animation-name: example;
      animation-duration: 2s;
    }
    @keyframes example {
      0% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    &_bold {
      font-weight: 400;
    }
  }
  
  &__button {
    width: 110px;
    height: 52px;
    border: 1px solid #e1fd2c;
    background-color: transparent;
    color: $textColor;
    margin: 0 50px 50px 0;
    border-radius: 100px/50px;
    @include mobile {
      width: 88px;
      height: 42px;
    }
  }
  &__button:hover {
    cursor: pointer;
    background-color: $textColor;
    color: $primaryColor;
  }
  &__link-container {
    display: flex;
    justify-content: space-between;
  }
  &__checkbox-container {
    margin: 0 0 50px 50px;
    display: flex;
    align-items: flex-end;
  }
  &__ratio-box {
    border: 1px solid $textColor;
    width: 12px;
    height: 12px;
    border-radius: 99px;
    margin: 0 14px 0 0;
  }
  &__ratio-box-active {
    background-color: $textColor;
  }
  &__ratio-box:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
